# pip install -U -r requirements.txt
Cython
matplotlib>=3.2.2
numpy >= 1.17
opencv-python >= 4.1
torch >= 1.5
torchvision
matplotlib
pycocotools
tqdm
pillow
scipy>=1.4.1
tensorboard >= 1.14

# Nvidia Apex (optional) for mixed precision training --------------------------
# git clone https://github.com/NVIDIA/apex && cd apex && pip install -v --no-cache-dir --global-option="--cpp_ext" --global-option="--cuda_ext" . --user
